h1{
    font-family: 'Lobster', cursive;
    color: brown;
}
.form-label{
    font-family: 'Baskervville', serif;
}
img{
    width: 35%;
    height: 25%;
}
body{
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
}